src/main/webapp/resources/exchangerate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ExchangeRate">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="rate" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>