src/main/webapp/resources/exchangerate.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://miskolc.uni.iit.hu/kovacsgergo/distributedsystemsdemo/model/generated"
           elementFormDefault="qualified">

    <xs:complexType name="ExchangeRate">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="rate" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>